:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
  }
  .html{
    font-size: 62.5%;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }

  .inactive{
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem;
    border-bottom: 0.1rem solid var(--very-light-pink);
  }

   /*MAIN MENU*/
  .menu {
    display: none;
  }
  .logo {
    width: 10rem;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 6rem;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 1.2rem;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 0.1rem solid var(--white);
    padding: 0.8rem;
    border-radius: 0.8rem;
  }
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover {
    border: 0.1rem solid var(--hospital-green);
    color: var(--hospital-green);
  }
  .navbar-email {
    color: var(--very-light-pink);
    cursor: pointer;
    font-size: var(--sm);
    margin-right: 1.2rem;
  }
  .navbar-shopping-cart {
    position: relative;
  }
  .navbar-shopping-cart div {
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -0.6rem;
    right: -0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   /*DESKTOP MENU*/
  .desktop-menu {
    position: absolute;
    top: 3.75rem;
    right: 6rem;
    width: 7rem;
    height: auto;
    border: 0.1rem solid var(--very-light-pink);
    border-radius: 0.6rem;
    padding: 2.0rem 2.0rem 0 2.0rem;
  }
  .desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .desktop-menu ul li {
    text-align: end;
  }
  .desktop-menu ul li:nth-child(1),
  .desktop-menu ul li:nth-child(2) {
    font-weight: bold;
  }
  .desktop-menu ul li:last-child {
    padding-top: 2.0rem;
    border-top: 0.1px solid var(--very-light-pink);
  }
  .desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
  }
  .desktop-menu ul li a {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 2.0rem;
    display: inline-block;
  }

  /*MOBILE VERSION*/
  .inactive_plash {
    transform: translate(-20rem);
    transition: transform 300ms;
  }
  .mobile-menu {
    padding: 24px;
    position: absolute;
    top: 3.75rem;
    left: 0.7rem; 
  }
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }
  .email {
    font-size: var(--sm);
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
  }
  @media (max-width: 640px) {
    .menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    .desktop-menu {
        display: none;
    }
  }
  @media (min-width: 641px){
    .mobile-menu {
        display: none;
    }
  }
